<form method="post" action="/lamps">
  <input type="text" name="lamp[colors][]" id="color_0">
  <input type="text" name="lamp[colors][]" id="color_1">
  <input type="text" name="lamp[colors][]" id="color_2">
  <input type="text" name="lamp[colors][]" id="color_3">
  <input type="submit" value="Save" id="Save">
</form>  
