<form action="/table" method="post">
  <input type="text" id="name" name="table[name]" />
  <input type="text" id="wood" name="table[wood]" />
  <input type="text" id="price" name="table[price]" />
  <input type="submit" value="Save" />
</form>