<form method="post" action="/tables">
  <input type="text" name="table[name]">
  <input type="text" name="table[wood]">
  <input type="number" name="table[price]">
  <input type="submit" value="Save" id="Save">
</form>
